<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="description"
        content="HitAcademyMusic is a One stop shop for all studio recording sessions mixing mastering and marketing related matters for the music industry" />
    <meta name="author" content="TheOnlyTanaka" />
    <meta name="keywords" content="Offline London, Hackney Wick, Music Studio" />
    <!--search what meta tags work with google on google-->
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1 maximum-scale=1" />
    <title>HitAcademyMusic</title>
    <link rel="stylesheet" type="text/css" href="./static/my_css.css" />
    <!--<link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>-->



</head><br>

<body>


    <br>
    <br>
    <div id="fieldsetforms" style=" clear:both">
        <fieldset>
            <legend align="center"><em>Please signup for the Newletter on upcoming Events
                </em></legend>

            <br>


            <form id="contactform" action=" #" method="post">
                <label for="first Name" maxlength="25" autocomplete="off">First Name:</label>
                <input type="text" id="first" name="First" required="required">&ensp;&ensp;

                <label for="last Name" maxlength="25" autocomplete="off">Last Name:</label>
                <input type="text" id="last" name="Last" required="required">
                <br>
                <br>
                <label for="E=email">Email:&emsp;&emsp;&ensp;</label>
                <!--ensp gives two spaces-->
                <input type=" text" id="email" name="Email" required="required">
                <!--<br>
                    <br>-->
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&ensp;

                <input type="phone" id="phone number" placeholder="Phone Number" />
                <br>
                <br>
                <label for="Studio Equiries">
                    <em>Questions and Enquiries</em></label>
                <br>
                <br>
                <a>Booking date:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="date"
                        id="Booking Date"></a>&nbsp;&emsp;&ensp;&nbsp;&emsp;&ensp;&nbsp;
                <!--"datetime-local" gives the date and the time at the same time-->
                <a>Time: <input type="time" id="booking time"></a>
                <p>Booking Length: &nbsp;<input type="number" id="quantity" width="5" min=" 2" max="8"
                        placeholder="number of hours...">&nbsp;</p>
                <br>
                <a>Enquiry Reason:&nbsp;<input id=" Studio Equiries" name="questions" type="text" list="questions"
                        Placeholder="Please type here..."></a>
                <br>
                <datalist id="questions">
                    <option value="Studio Booking!"></option>
                    <option value="Online Services!"></option>
                    <option value="Other...!"></option>
                </datalist>
                <br>
                <br>
                <select id="studio" name="studio" size="3" multiple="multiple">
                    <option value="please select one">...please select</option>
                    <option value="None">None</option>
                    <option value="All Saints">All Saints</option>
                    <option value="Hackney Wick">Hackney Wick</option>
                </select>&emsp;

                <textarea id="enquiries" rows="3" cols="80%" maxlength="250"
                    placeholder="Please type your questions here..."></textarea>
                <br>
                <br>
                <br>
                <br>
                <Label for="promotional emails">Send Promotional Emails</Label>
                <input type="radio" name="promotional emails" value="send promotions emails">

                <Label for="promotional emails">Do Not Send Promotional Emails</Label>
                <input type="radio" name="promotional emails" value="do not send promotion emails">
                <br>
                Accept Terms and Conditions
                <input type=checkbox name="over 18" value="Accept Term and Conditions">
                <br>
                <br>
                <input type="submit" name="Submit" value="Submit">
                <button type="reset">Reset</button>
            </form>

        </fieldset>
    </div>
    <p>
        <!-- <em> copwrighted to Base<sub>10</sub> recordings under T <sup> 2 </sup> HitAcademyMusic </em>
            <p>
                <code>&lt;p&gt; this a trial line &lt;/p&gt; </code>
            </p>-->


        &nbsp;
        <a style="font-family: fantasy" href="HAM.html">back to home
        </a>
        </div>
        <script type="text/javascript" src=".static/HAM.js"></script>
</body>

</html>