<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="description"
        content="HitAcademyMusic is a One stop shop for all studio recording sessions mixing mastering and marketing related matters for the music industry" />
    <meta name="author" content="TheOnlyTanaka" />
    <meta name="keywords" content="Offline London, Hackney Wick, Music Studio" />
    <!--search what meta tags work with google on google-->
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1 maximum-scale=1" />
    <title>HitAcademyMusic official site</title>
    <link rel="stylesheet" type="text/css" href="./static/my_css.css" />
    <!--<link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="http://code.jquery.com/mobile/1.4.5/jquery.mobie-1.4.5.min.js"></script>-->



</head><br>

<body>
    <div class="container">

        <div id="navigationlinksdiv">
            <ul id="navigation">
                <li><a href="Welcome%20index.html" class="hover">Home</a></li>
                <li><a href=" Gallery.html" class="hover">Galletry</a></li>
                <!--<li><a id="More" href""></a></li>-->
                <li>
                    <a href="#bookingstable" class="hover">Contact</a>
                </li>

                <!--<mark></mark> adds a background colour behind your text-->
            </ul>
        </div>

        <div id="audiodiv">
        </div>

        <br>
        <div Id="welcomediv">
            <h1>
                Welcome to HitAcademyMusic
            </h1>
        </div>

        <br>

        <br>

        <div style="text-align: center" id="blockquote div">
            <blockquote>

                <em>
                    <strong>"One good thing about music, when it hits you, you feel no pain!" </strong></em>
                <br><cite style="font-size: 10px">Bob Marley azquotes.com
                </cite>
            </blockquote>
        </div>
        <p style="text-align: center">
            <a href=https://soundcloud.com/theonlytanaka style="font-family: cursive;"> Music As I Hear It</a>
        </p>
        <br>
        <Div id="video links">
            <h3 style="text-align: center">Touri$t
            </h3><br>
            <center><iframe id="Touri$tvideo" width="54%" height="400" src="https://www.youtube.com/embed/ioqk8hytZDg"
                    frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe></center>
            <br>
            <br>
            <h3 style="text-align: center">Grace Fleary
            </h3><br>
            <center> <iframe id="Gracevideo" width="54%" height="400" src="https://www.youtube.com/embed/081md8zwnEk"
                    frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe></center>
        </Div>
        <br>

        <br>
        <!--add a bitlink for all music outlets
    <!--<p>
        <a style=" padding: 2%"><video id=" pCloud" controls="controls">
                <source src="pCloud.mp4" /> </video></a>
    </p>-->
        <center>
            <div id="creditstable">
                <table id="table1" border=" 1" cellspacing="0" cellpadding="5">
                    <h3>Credits</h3>
                    <tr class="tr.hover">
                        <th>Name</th>
                        <th>Song Title</th>
                        <th width=" 20%"> Year Of elease</th>
                    </tr>
                    <tr>
                        <td>Grace Fleary</td>
                        <td>Free</td>
                        <td>2017</td>
                    <tr>
                        <td>Touri$t </td>
                        <Td>God like</Td>
                        <Td>2018</Td>
                    <tr>
                        <td>B-Mela</td>
                        <td>Fire Away</td>
                        <td>2019</td>
                    </tr>
                </table>
            </div>
        </center>
        <br>
        <Div id="bookingscontainer">
            <div id="studiobookings1">
                <table id="bookingstable" width="60">
                    <tr>Studio bookings</tr>
                </table>
                <ul type=" square">
                    <li><a target="_blank" href=" https://www.facebook.com/offlinelondonstudios/">Hacnkey Wick
                            Studios</a></li>
                    <br>
                    <li>
                        <a target="_blank" href="https://www.allstudios.co.uk/studios/dry-longterm/uneti-studios"> All
                            Saints Studio</a>
                    </li>
                    <br>
                    <li>
                        <a target="_self"
                            href="https://www.headbox.com/en/spaces/7465-book-music-studio-cloud-9-london">Cloud 9
                            Studios</a>
                    </li>
                    <br>
                </ul>
            </div>

            <div id="bookingpricelist">
                <table id="bookingstable">
                    <tr>Price</tr>
                </table>
                <ul style="list-style-type: none">
                    <li>£40/hr</li><br>
                    <li>£35/hr</li><br>
                    <li>£25/hr</li><br>
                </ul>
            </div>
        </Div>
        <br>
        <br>
        <br>

        <br>
        <br>
        <div id="fieldsetforms" style=" clear:both">
            <fieldset>
                <legend align="center"><em>Please signup for the Newletter on upcoming Events
                    </em></legend>

                <br>


                <form id="contactform" action=" #" method="post">
                    <label for="first Name" maxlength="25" autocomplete="off">First Name:</label>
                    <input type="text" id="first" name="First" required="required">&ensp;&ensp;

                    <label for="last Name" maxlength="25" autocomplete="off">Last Name:</label>
                    <input type="text" id="last" name="Last" required="required">
                    <br>
                    <br>
                    <label for="E=email">Email:&emsp;&emsp;&ensp;</label>
                    <!--ensp gives two spaces-->
                    <input type=" text" id="email" name="Email" required="required">
                    <!--<br>
                    <br>-->
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&ensp;

                    <input type="phone" id="phone number" placeholder="Phone Number" />
                    <br>
                    <br>
                    <label for="Studio Equiries">
                        <em>Questions and Enquiries</em></label>
                    <br>
                    <br>
                    <a>Booking date:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="date"
                            id="Booking Date"></a>&nbsp;&emsp;&ensp;&nbsp;&emsp;&ensp;&nbsp;
                    <!--"datetime-local" gives the date and the time at the same time-->
                    <a>Time: <input type="time" id="booking time"></a>
                    <p>Booking Length: &nbsp;<input type="number" id="quantity" width="5" min=" 2" max="8"
                            placeholder="number of hours...">&nbsp;</p>
                    <br>
                    <a>Enquiry Reason:&nbsp;<input id=" Studio Equiries" name="questions" type="text" list="questions"
                            Placeholder="Please type here..."></a>
                    <br>
                    <datalist id="questions">
                        <option value="Studio Booking!"></option>
                        <option value="Online Services!"></option>
                        <option value="Other...!"></option>
                    </datalist>
                    <br>
                    <br>
                    <select id="studio" name="studio" size="3" multiple="multiple">
                        <option value="please select one">...please select</option>
                        <option value="None">None</option>
                        <option value="All Saints">All Saints</option>
                        <option value="Hackney Wick">Hackney Wick</option>
                    </select>&emsp;

                    <textarea id="enquiries" rows="3" cols="80%" maxlength="250"
                        placeholder="Please type your questions here..."></textarea>
                    <br>
                    <br>
                    <br>
                    <br>
                    <Label for="promotional emails">Send Promotional Emails</Label>
                    <input type="radio" name="promotional emails" value="send promotions emails">

                    <Label for="promotional emails">Do Not Send Promotional Emails</Label>
                    <input type="radio" name="promotional emails" value="do not send promotion emails">
                    <br>
                    Accept Terms and Conditions
                    <input type=checkbox name="over 18" value="Accept Term and Conditions">
                    <br>
                    <br>
                    <input type="submit" name="Submit" value="Submit">
                    <button type="reset">Reset</button>
                </form>

            </fieldset>
        </div>
        <p>
            <!-- <em> copwrighted to Base<sub>10</sub> recordings under T <sup> 2 </sup> HitAcademyMusic </em>
            <p>
                <code>&lt;p&gt; this a trial line &lt;/p&gt; </code>
            </p>-->


            &nbsp;
            <a style="font-family: fantasy" href="#Top">Top
            </a>
    </div>
    <script type="text/javascript" src="./static/H.A.M..js"></script>
</body>

</html>