<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description"
        content="HitAcademyMusic is a One stop shop for all studio recording sessions mixing mastering and marketing related matters for the music industry" />
    <meta name="author" content="TheOnlyTanaka" />
    <meta name="keywords" content="Offline London, Hackney Wick, Music Studio" />
    <!--search what meta tags work with google on google-->
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1 maximum-scale=1" />
    <title>HitAcademyMusic</title>
    <link rel="stylesheet" type="text/css" href="static/index.css" />
    <!--<link rel=" stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
        <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
        <script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>-->
    <title>Welcome to H.A.M.</title>
</head>

<body>
    <centre>
        <div class="welcomebody">
            <!--<div id="audiodiv">
        </div>-->

            <div id="imagediv">
                <img width="30%" src="./static/assets/images/B016745TANJER062.jpg" width=50% alt=@theonlytanaka
                    alt="HitAcademyMusic" />
            </div>
            <br>
            <br>
            <div id="enterlink">
                <a href="./H.A.M..html">Come On In</a>
            </div>

        </div>
    </centre>
</body>

</html>