<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description"
        content="HitAcademyMusic is a One stop shop for all studio recording sessions mixing mastering and marketing related matters for the music industry" />
    <meta name="author" content="TheOnlyTanaka" />
    <meta name="keywords" content="Offline London, Hackney Wick, Music Studio" />
    <!--search what meta tags work with google on google-->
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1 maximum-scale=1" />
    <title>HitAcademyMusic</title>
    <link rel="stylesheet" type="text/css" href="./static/welcomeindex.css" />
    <link rel=" stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>Welcome to H.A.M.</title>
</head>

<body>
    <a href="HAM.html">
        <ul class=" fly-in-text hidden">
            <li>w</li>
            <li>e</li>
            <li>l</li>
            <li>c</li>
            <li>o</li>
            <li>m</li>
            <li>e</li>
        </ul>
    </a>
    <br>
    <script type="text/javascript" src="./static/welcomeindex.js"></script>
</body>

</html>